<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8" />
<title>控制台 微防伪商品信息系统</title>
<meta name="keywords" content="微防伪商品信息系统" />
<meta name="description" content="微防伪商品信息系统" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- basic styles -->
<link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/assets/css/font-awesome.min.css" />

<!--[if IE 7]>
		  <link rel="stylesheet" href="/assets/css/font-awesome-ie7.min.css" />
		<![endif]-->

<link rel="stylesheet" href="/assets/css/ace.min.css" />
<link rel="stylesheet" href="/assets/css/ace-rtl.min.css" />
<link rel="stylesheet" href="/assets/css/ace-skins.min.css" />

<!--[if lte IE 8]>
		  <link rel="stylesheet" href="/assets/css/ace-ie.min.css" />
		<![endif]-->

<!-- ace settings handler -->

<script src="/assets/js/ace-extra.min.js"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

<!--[if lt IE 9]>
		<script src="/assets/js/html5shiv.js"></script>
		<script src="/assets/js/respond.min.js"></script>
		<![endif]-->

<script type="text/javascript" charset="utf-8" src="/assets/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/assets/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="/assets/ueditor/lang/zh-cn/zh-cn.js"></script>
</head>

<body>
<div class="navbar navbar-default" id="navbar"> 
  <script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>
  <div class="navbar-container" id="navbar-container">
    <div class="navbar-header pull-left"> <a href="/" class="navbar-brand"> <img src="/assets/images/logo.png" style="height:60px;"></img> </a><!-- /.brand --> 
    </div>
    <!-- /.navbar-header --><!-- /.navbar-header --> 
  </div>
  <!-- /.container --> 
</div>
<div class="main-container" id="main-container"> 
  <script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>
  <div class="main-container-inner"> <include file="Public/left" />
    <div class="main-content">
      <div class="breadcrumbs" id="breadcrumbs"> 
        <script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>
        <ul class="breadcrumb">
          <li> <i class="icon-home home-icon"></i> <a href="/">首页</a> </li>
          <li class="active">查看企业信息</li>
        </ul>
        <!-- .breadcrumb --> 
        
        <!-- #nav-search --> 
      </div>
      <div class="page-content"> 
        <!-- /.page-header -->
        
        <div class="row">
     <notempty name="errorinfo">
               <div class="alert alert-block alert-danger">
									<button type="button" class="close" data-dismiss="alert">
										<i class="icon-remove"></i>
									</button>

									<i class="icon-ok green"></i>
                                    出现错误:
									<strong class="green">
										{$errorinfo}
									</strong>.	
								</div>
    </notempty>
          <div class="col-xs-12"> 
            <!-- PAGE CONTENT BEGINS -->
            
            <div class="widget-box">
              <div class="widget-header">
                <h4>查看企业信息</h4>
                <div class="widget-toolbar"> <a class="btn btn-sm btn-success" href="/message/EditMessage/">修改</a> </div>
              </div>
              <div class="widget-body">
                <div class="widget-main">
                 
              <fieldset>
                <div class="control-group "> 
                  
                  <!-- Text input-->
                  <label class="control-label" for="company_name" >企业英文简称 : {$company_name}</label>
                  <div class="controls">
                    <p class="help-block"></p>
                  </div>
                </div>
           <!--     <div class="control-group"> 
                  
                 
                  
                  
                  <label class="control-label" for="note_information">备注信息 : {$note_information}</label>
                  <div class="controls">
                    <p class="help-block"></p>
                  </div>
                </div> --> 
                 <!--    <div class="control-group"> 
                  <label class="control-label" for="company_content">企业相关简介</label>
                    <div class="controls">
           <textarea class="form-control" rows="10" cols="30"  name="company_content" readOnly="true" >{$company_content} </textarea>
             
                    </div>
                </div>-->
                <label class="control-label" for="specific_content">企业相关描述</label>
                <div class="widget-main">{$specific_content}</div>
                 
                 <br><br>
                   <div class="control-group">
          <label class="control-label">企业缩略图</label>

          <!-- File Upload -->
          <div class="controls">
            <!--<input class="input-file" id="fileInput" type="file" name="verify_info">
            -->
            <img src="/upload{$photo_url}" width='100px' height='100px'/>
          </div>
        </div>
                 <br><br>
                <div class="control-group"> 
                    
                  <!-- Button -->
                  <div class="controls">
                   
                      <!--   <a type="button" class="btn btn-success" href="/product/manager">返回
                </a>-->
                  </div>
                </div>
       
              </fieldset>
           
                 
                </div>
              </div>
            </div>
            
            
            <!-- PAGE CONTENT ENDS --> 
          </div>
          <!-- /.col --> 
        </div>
      </div>
      <!-- /.page-content --> 
    </div>
    <!-- /.main-content -->
   
    <!-- /#ace-settings-container --> 
  </div>
  <!-- /.main-container-inner --> 
  
</div>
<!-- /.main-container --> 

<script src="/assets/js/jquery-1.10.2.min.js"></script> 
<script src="/assets/js/bootstrap.min.js"></script> 
<script src="/assets/js/typeahead-bs2.min.js"></script> 

<!-- page specific plugin scripts --> 

<!--[if lte IE 8]>
		  <script src="/assets/js/excanvas.min.js"></script>
		<![endif]--> 

<script src="/assets/js/jquery-ui-1.10.3.custom.min.js"></script> 
<script src="/assets/js/jquery.ui.touch-punch.min.js"></script> 
<script src="/assets/js/jquery.slimscroll.min.js"></script> 
<script src="/assets/js/jquery.easy-pie-chart.min.js"></script> 
<script src="/assets/js/jquery.sparkline.min.js"></script> 
<script src="/assets/js/flot/jquery.flot.min.js"></script> 
<script src="/assets/js/flot/jquery.flot.pie.min.js"></script> 
<script src="/assets/js/flot/jquery.flot.resize.min.js"></script> 

<!-- ace scripts --> 

<script src="/assets/js/ace-elements.min.js"></script> 
<script src="/assets/js/ace.min.js"></script> 

<!-- inline scripts related to this page --> 

<script type="text/javascript">
    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');
</script>
</body>
</html>
