<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>商品信息</title>
<link href="/assets/css/weixin_display.css" rel="stylesheet" />


<body>
<!--   <div id="imgcontainer" style="position:absolute;left:30%;width:40%;height:100%; " > -->
  <div id="imgcontainer" style="position:absolute;left:10px;width:480px;height:100%; " >
  <p>产品图文信息</p>
{$html_content}


{$company_content}
	  </div>
</body>

</html>