body{width: 98%;}
#headerbox{width: 100%;height: 34px;border: solid 1px silver;}
#headerleft{float: left;margin-top: 4px;}
#headerleft p{float: left;margin: 4px;}
#input1{margin-left: 5px;float: left;}
#button1{float: right;margin:4px 20px;}
#area{margin-top:25px; }
.textarea{position: absolute;float: left;width: 450px;}
.textareamod{margin-top: 25px;}
.picarea{position: absolute;float: left;width: 450px;}
.picareamod{margin-top: 25px;}
.delbutton{height: 21px;width: 53px;margin-top: 10px; float: right; margin-right: 30px;}
#footer{position: fixed; float: right;right: 12px;bottom: 10px;}